body {
margin: 0;
background-color: white;
background-image: url("https://images.unsplash.com/photo-1527049979667-990f1d0d8e7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1533&q=80");

}


h1 {
font-family: 'Playfair Display SC', serif;
}

h2 {
font-family: 'Playfair Display SC', serif;
}

p {
  font-family: 'Playfair Display SC', serif;
  font-size: 20px;
}


p2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;

}

/* HEADER STYLE */

.smallbox {
background-color: white;
  padding: 30px;
  margin: 0px;
  width: 96%;
}

/* END HEADER STYLE */

  /* TOP NAVBAR STYLING */

#navbar {
list-style-type: none;
margin: 60;
padding: 0;
overflow: hidden;
background-color: red;
width: 100%;
}

#navbar a {
  font-family: 'Oswald', sans-serif;
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17;
}

#navbar a:hover {
color: white;
background-color: RED;
}

.active {
background-color: white;

}

/* END TOP NAVBAR STYLING */

/* CONTENT Starts */

/* BANNER STYLING */
.banner {
  display:center;
  background-color: black;
  height: 500px;
  padding: 20px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* CONTENT STYLING */


.container {
  float: left;
  display: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: grey;
  height: 400px;
  width: 27%;
  margin: 20px;
}

.lilbox {
  background-color: rgba(255, 82, 82, 100);
}

.bigbox {
  background-color: grey;
  padding: 20px;
  margin: 20px;
  width: 100;
}


div.polaroid {
  float: left;
  width: 45%;
  background-color: green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  margin-bottom: 25px;
}

div.rectangle {
  text-align: center;
  padding: 10px 20px;
}


/* BUTTON STYLE */



/* BUTTON STYLE END */

/* START BOTTOM NAVBAR */
.navbar {
  list-style-type: none;
  margin: 20;
  padding: 0;
  overflow: hidden;
  background-color: RED;

}

/* Style the links inside the navigation bar */
.navbar a {
  font-family: 'Oswald', sans-serif;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: red;
  color: white;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: red;
  color: BLACK;
}
  /* END BOTTOM NAVBAR */

ul {
list-style-type: square;
}
